 .goog-te-banner-frame.skiptranslate {
            display: none !important;
        } 
        body {
            top: 0px !important; 
        }

        .goog-te-menu-frame {
            max-width:100% !important; 
        }
        .goog-te-menu2 { 
            max-width: 100% !important;
            overflow-x: scroll !important;
            box-sizing:border-box !important; 
            height:auto !important; 
        }

        .goog-logo-link {
            display:none !important;
        } 

        .goog-te-gadget{
            color: transparent !important;
        }

        #google_translate_element img
        {
            display: none !important;

        }